
.green-overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    background-color: rgba(0, 255, 0, 0.5);
  }
  
 
  
  .red-overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    background-color: rgba(255, 0, 0, 0.5);
  }
  

  .fade-out
    {
        transition: opacity 1s ease-out;
        opacity: 0;
    }
 
  
